.body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 90%;
  height: auto;

  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 15px;

  gap: 20px;
}
.shoppingcart {
  flex-grow: 5;
  /* border: 3px solid teal; */
  position: relative;
}
.summary {
  justify-content: space-around;
  flex-grow: 0.5;
  /* border: 3px solid yellow; */
  position: relative;
  line-height: 30px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 25px;
  height: 400px;
}
.summary:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shoppinggrid {
  display: grid;
  grid-template-columns: 10% 75%;
  /* grid-template-rows: repeat(5, 100px); */
  gap: 20px;
}
/* .shoppinggrid:hover {
 
} */
.shoppinggrid img {
  width: 100%;
  height: 100%;
}
.shoppinggrid > div {
  /* border: 3px solid brown; */
  background-color: whitesmoke;
  height: 200px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
}
.shoppinggrid > div:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.shoppinggrid h2 {
  margin: 0px;
  color: #44475b;
}
.shoppinggrid span {
  font-size: 20px;
  line-height: 40px;
}
.removebtn {
  border-radius: 2px;
  /* background-color: #00d09c; */
  border: none;
  color: none;
  width: auto;
  height: 30px;
  font-weight: bolder;
  background-color: #00d09c;
  margin-left: 80%;
}
.removebtn:hover {
  font-weight: bolder;
  zoom: 120%;
}

.inc,
.dec,
.show {
  font-size: 20px;
  border-radius: 2px;
  background-color: #00d09c;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  color: #44475b;
  font-weight: bolder;
}

h3,
h2 {
  color: #44475b;
  font-size: 20px;
  margin-left: 25px;
}
.show {
  cursor: default;
}

.qnty {
  margin-left: 120px;
}
.apply,
.proceed {
  background-color: #00d09c;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
}
.proceed:hover,
.apply:hover {
  font-weight: bolder;
}
.safeimg {
  width: 70%;
  filter: grayscale(1);

  cursor: pointer;
  margin-bottom: 15px;
}
.safeimg:hover {
  filter: grayscale(0);
}
