<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/filters-MF.css">
</head>
<body>
    <div class="footerDiv">
        <div class="footer">
            <div id="footer1">
                <div id="footer11">
                    <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/logo-light-groww.1815ad63.svg"
                        alt="">
                </div>
                <div id="footer12">No.11, 2nd floor, 80 FT Road 4th Block, S.T Bed,
                    Koramangala
                    Bengaluru - 560034</div>
                <div id="footer13"><a href="#">Contact Us</a></div>
                <div id="footer14icons">
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/fb_icon_groww.1c94e937.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/twitter_icon_groww.4cb988f6.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/yt_icon_groww.ec96b677.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/instagram_icon_groww.0454c1a2.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/linkedin_icon_groww.b15f8240.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/telegram_icon_groww.f6524497.svg"
                                alt=""></a>
                    </div>
    
                </div>
            </div>
            <div id="footer2">
                <div id="footer21">PRODUCTS</div>
                <div id="footer22">
                    <a href="#">Stocks</a>
                    <a href="#">Futures & Options</a>
                    <a href="#">Mutual Funds</a>
                    <a href="#">Fixed Deposit</a>
                    <a href="#">Gold</a>
                    <a href="#">US Stocks</a>
                </div>
            </div>
            <div id="footer3">
                <div id="footer31">GROWW</div>
                <div id="footer32">
                    <a href="#">About Us</a>
                    <a href="#">Pricing</a>
                    <a href="#">Blog</a>
                    <a href="#">Media & Press</a>
                    <a href="#">Help and Support</a>
                </div>
            </div>
            <div id="footer4">
                <div id="footer41">QUICK LINKS</div>
                <div id="footer42">
                    <a href="#">AMC Mutual Funds</a>
                    <a href="#">Calculators</a>
                    <a href="#">Glossary</a>
                    <a href="#">Open Demat Account</a>
                    <a href="#">Groww Digest</a>
                </div>
            </div>
    
        </div>
    
        <div id="footer5">
            <hr>
        </div>
    
        <div id="footer6">
            <div id="footer61">ⓒ&nbsp;2016-2021 Groww, All rights reserved, Build with Love
                in India
            </div>
            <div id="footer62">
                <div id="footer62img">
                  <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/google-play-badge.0547a72f.svg"
                  alt="">
                  
                </div>
                <div id="footer63img">
                  <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/app-store-logo.060773ea.svg"
                  alt="">
                </div>
            </div>
        </div>
    
    </div>
    <!-- header last in main page -->
    <div id="header">
    <div id="first">
        <span class="textheader">MOST POPULAR GROWW</span>  
        <span class="textheader"id="version">VERSION-2.0.8</span>
    </div>
    <div id="second">
        <span class="textheader">STOCK MARKET INDICES:</span>
        <span><a href="https://groww.in/indices/sp-bse-sensex">S&P BSE SENSEX</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/indices/sp-bse">S&P BSE 100</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/indices/nifty-218500">NIFTY100</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/indices/nifty">NIFTY50</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/indices/nifty-midcap">NIFTY MIDCAPS100</a></span>
        <span class="or">|</span>
        <span class="or"><a href="https://groww.in/indices/nifty-bank">NIFTY BANK</a></span>
        <span class="or">|</span>
        <span class="or"><a href="https://groww.in/indices/nifty-next">NIFTY NEXT50</a></span>
    </div>
    <div id="third">
        <span class="textheader">PUPOLAR Mutual:</span>
        <span><a href="https://groww.in/mutual-funds/axis-equity-fund-direct-growth">AXIS BLUECHIP FUND</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/motilal-oswal-s-p-500-index-fund-direct-growth">MOTILAL OSWAL S&P 500 INDEX FUND </a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/parag-parikh-long-term-value-fund-direct-growth">PARAG PARIKH LONG TERM EQUITY FUND</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/sbi-small-midcap-fund-direct-growth">SBI SMALL CAP FUND HDFC BALANCED ADVANTAGE FUND </a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/axis-long-term-equity-fund-direct-growth">AXIS LONG TERM EQUATY FUND </a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/uti-nifty-fund-direct-growth">UTI NIFTY INDEXFUND </a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/axis-midcap-fund-direct-growth">AXIS MIDCAP FUND </a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/sbi-bluechip-fund-direct-growth">SBI BLUECHIP FUND</a></span>
        <span class="or">|</span>
        <span><a href="https://groww.in/mutual-funds/mirae-asset-emerging-bluechip-fund-direct-growth">MIRAE ASSET EMERGING BLUECHIP FUND </a></span>
       
    </div>
    <div id="fourth">
       <span class="textheader">MUTUAL FUND COMPANCIES:</span>
       <span><a href="https://groww.in/mutual-funds/amc/icici-prudential-mutual-funds">ICICI PRUDENTIAL</a></span>
       <span class="or">|</span>
       <span ><a href="https://groww.in/mutual-funds/amc/hdfc-mutual-funds">HDFC</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/reliance-mutual-funds">NIPPON INDIA</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/aditya-birla-sunlife-mutual-funds">ADITYA BIRLA SUNLIFE</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/sbi-mutual-funds">SBI</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/uti-mutual-funds">UTI</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/franklin-templeton-mutual-funds">FRANKLIN</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/kotak-mutual-funds">KOTAK MAHINDRA</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/idfc-mutual-funds">IDFC</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/idfc-mutual-funds">BOI AXA</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/essel-mutual-funds">NAVI</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/ppfas-mutual-funds">PPFAS</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/iifl-mutual-funds">IIFL</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/escorts-mutual-funds">QUANI</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/shriram-mutual-funds">SHRIRAM</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/sahara-mutual-funds">SAHARA</a></span>
       <span class="or">|</span>
       <span><a href="https://groww.in/mutual-funds/amc/iti-mutual-funds">ITI</a><span>
      
       </div>
    <div id="fifth">
        <span class="textheader">TOOLS:</span>
        <span><a>BROKERANGE CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>MARGIN CALCULATOR </a></span>
        <span class="or">|</span>
        <span><a>SIP CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>SWP CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>SUKANYA SAMRIDDHI YOJANA CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>MUTUAL FAUD CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>FD CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>RETURN CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>RD CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>EMI CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>PPF CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>EPF CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>NPS CALCULATOR</a></span>
        <span class="or">|</span>
        <span><a>GRATUITY CALCULATOR</a></span>
    </div>
    <div  id="sixth">
        <span class="hoverEffect">NSE</span>
        <span>|</span>
        <span class="hoverEffect">BSE</span>
        <span>|</span>
        <span class="hoverEffect">TERMS AND CONDITIONS</span>
        <span>|</span>
        <span class="hoverEffect">POLICIES AND PROCEDURES</span>
        <span>|</span>
        <span class="hoverEffect">REGULATORY & OTHER INFO</span>
        <span>|</span>
        <span class="hoverEffect">PRIVACY POLICY</span>
        <span>|</span>
        <span class="hoverEffect">DISCLOURE</span>
        <span>|</span>
        <span class="hoverEffect">SECURITY</span>
        <span>|</span>
        <span class="hoverEffect">DOWNLOAD FORMS</span>
    </div>
    <hr>
    <div id="seventh">
        <span>ABOUT GROWW</span>
       <span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="20" width="20"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
        <path d="M0 0h24v24H0V0z" fill="none"></path>
        <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
        </svg></span>
    </div>
    </div>
</div>
</body>
</html>