<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groww</title>
    <link rel="stylesheet" href="/style/HomePart2.css">
    <link rel="stylesheet" href="/Images/o1.png">
</head>
<body>
    <h1 class="yourMoneyYourChoice">Your money. Your choice.</h1>
    <div class="stockView">
        <p class="clickTOchange"><img style="width: 34%;height:90%;" src="../Images/o2.png" alt=""><span class="">Stocks</span></p>
        <p class="clickTOchange"><img style="width:22%;" src="/Images/o1.png" alt=""><span>Mutual Funds</span></p>
        <p class="clickTOchange"><img style="height:76%;" src="/Images/o3.png" alt=""><span>US Stocks</span></p>  
        <p class="clickTOchange"><img style="width: 40%;" src="/Images/o4.png" alt=""><span>FDs</span></p>
   </div>
   <div class="clickAndSeeRateAndStock">
       <div class="clicKtoChangeTypeOfshareDiv">
           <img class="clicKtoChangeTypeOfshare" src="" alt="" >
       </div>
       <div class="clicKtoChangeTypeOfshareInterestdiv">
           <img class="clicKtoChangeTypeOfshareInterest" src="" alt="">
           <button class="CreateAccountForFree">Create Account For Free</button>
       </div>
   </div>
</body>
</html>
<script src="/JS/HomePart2.js"></script>