<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon.ico"
      sizes="32x32"
    />
    <title>
      Groww - Online Demat, Trading and Direct Mutual Fund Investment in India
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="stocks.css"> -->
    <link rel="stylesheet" href="/style/filters-MF.css" />
  </head>

  <body>
    <div>
      <!-- Navbarstart -->
      <div id="nav-bar" class="margin-mid">
        <div id="groww-logo">
          <img
            src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/logo-dark-groww.83f43714.svg"
            alt="Groww image"
          />
        </div>
        <div id="after_logo">
          <p>Explore</p>
          <p>Investments</p>
        </div>
        <div id="search">
          <img
            src="https://img.icons8.com/material-outlined/344/search.png"
            alt=""
          />
          <input type="text" placeholder="What you are looking for today?" />
        </div>
        <div id="three-div">
          <img src="https://cdn-icons-png.flaticon.com/128/3602/3602145.png" />
          <img src="https://img.icons8.com/ios/2x/wallet.png" />
        </div>
      </div>
      <hr />

      <!-- Navbar End -->

      <!-- bank filter and MF  LEFT SIDE -->

      <div id="filters-MF">
        <div class="box-border shadow" style="height: 1100px">
          <div id="left-part" class="Everybox">
            <h4>FILTERS</h4>
            <h4>Clear All</h4>
          </div>
          <hr />

          <div id="ALL-fund">
            <p>AMC</p>
            <input type="text" placeholder="Search Mutual Fund Companies" />
            <div id="Fund-list">
              <ul>
                <li>
                  <input type="checkbox" /> Aditya Birla Sun Life Mutual Fund
                </li>
                <li><input type="checkbox" /> Axis Mutual Fund</li>
                <li><input type="checkbox" /> BPN Paribas Mutual Fund</li>
                <li><input type="checkbox" /> BOI AXA Mutual Fund</li>
                <li><input type="checkbox" /> Baroda Mutual Fund</li>
                <li><input type="checkbox" /> Canara Robeco Mutual Fund</li>
                <li><input type="checkbox" /> Essel Mutual Fund</li>
                <li>
                  <input type="checkbox" /> Franklin Templetion Mutual Fund
                </li>
                <li><input type="checkbox" /> HDFC Mutual Fund</li>
                <li><input type="checkbox" /> HSBC Mutual Fund</li>
                <li><input type="checkbox" /> ICICI Prudential Mutual Fund</li>
                <li><input type="checkbox" /> IDBI Mutual Fund</li>
                <li><input type="checkbox" /> IDFC Mutual Fund</li>
                <li><input type="checkbox" /> IIFL Mutual Fund</li>
                <li><input type="checkbox" /> ITI Mutual Fund</li>
                <li><input type="checkbox" /> Indiabulls Mutual Fund</li>
                <li><input type="checkbox" /> IDBI Mutual Fund</li>
                <li><input type="checkbox" /> Invesco Mutual Fund</li>
                <li><input type="checkbox" /> JM Financial Mutual Fund</li>
                <li><input type="checkbox" /> Kodak Mahindra Mutual Fund</li>
                <li><input type="checkbox" /> L&T Mutual Fund</li>
                <li><input type="checkbox" /> LIC Mutual Fund</li>
                <li><input type="checkbox" /> Mahindra Menulife Mutual Fund</li>
                <li><input type="checkbox" /> Mahindra Mutual Fund</li>
                <li><input type="checkbox" /> Mirae Mutual Fund</li>
                <li><input type="checkbox" /> Motilal Oswal Mutual Fund</li>
              </ul>
            </div>
            <hr />

            <!-- category Start-->
            <div id="category" class="Everybox">
              <p class="p-marg">Category</p>
              <div>
                <li><input type="checkbox" />Debt</li>
                <li><input type="checkbox" />Equity</li>
                <li><input type="checkbox" />Hybrid</li>
                <li><input type="checkbox" />Other</li>
                <li><input type="checkbox" />Solution Oriented</li>
              </div>
            </div>
            <hr />
            <!-- category Ends-->

            <!-- Risk -->
            <div class="Everybox">
              <p class="p-marg">Risk</p>
              <div>
                <li><input type="checkbox" />Low</li>
                <li><input type="checkbox" />Moderate Low</li>
                <li><input type="checkbox" />Moderate</li>
                <li><input type="checkbox" />Moderate High</li>
                <li><input type="checkbox" />High</li>
                <li><input type="checkbox" />Very High</li>
              </div>
            </div>
            <hr />
            <!-- Risk End -->

            <!-- fund size -->
            <div class="Everybox">
              <p class="p-marg">Fund Size</p>
              <div>
                <li><input type="checkbox" />Upto 1,000Cr</li>
                <li><input type="checkbox" />Upto 2,000Cr</li>
                <li><input type="checkbox" />Upto 5,000Cr</li>
                <li><input type="checkbox" />Upto 10,000Cr</li>
              </div>
            </div>
            <hr />
            <!-- fund size end-->

            <div class="Everybox">
              <p class="p-marg">Availabe To Invest</p>
              <div>
                <li><input type="checkbox" />SIP</li>
                <li><input type="checkbox" />ONE-TIME</li>
              </div>
            </div>
          </div>
        </div>
        <!-- bank filter and MF  LEFT SIDE  End-->

        <!-- RIGHT-SIDE Div for funds -->

        <div class="box-border">
          <div id="All-MFs">
            <p>All Mutual Funds</p>
            <div>
              <select id="item_select">
                <option>Reference</option>
                <option value="rates">Ratings - High To Low</option>
                <option value="returns">Returns - High To Low</option>
              </select>
            </div>
          </div>

          <!-- All funds list -->

          <div class="All-funds shadow"></div>
          <!-- All funds list End -->
        </div>

        <!-- Right-SIDE Div for funds End-->
      </div>
    </div>
  </body>
</html>
<script type="module">
  async function getData() {
    let data = await fetch("http://localhost:6789/stocks");
    let res = await data.json();
    let array = res.product;
    let information = [];
    showdata();
    function showdata() {
      array.forEach((product) => {
        // information.push(product);

        //   console.log('product:', product)
        let box = document.querySelector(".All-funds");

        let div = document.createElement("div");
        div.setAttribute("class", "MFs");
        div.style.cursor = "pointer";

        div.addEventListener("click", () => {
          async function clickedProduct() {
            await fetch("http://localhost:6789/redis_pro/clicked", {
              method: "POST",
              body: JSON.stringify(product),
              headers: {
                "Content-type": "application/json",
              },
            });
            window.location.href = "stockPage";
          }
          clickedProduct();
        });

        let url = product.product_image;
        let img = document.createElement("img");
        img.src = url;
        // img.style.border = "1px solid black";

        let div_main = document.createElement("div");
        div_main.setAttribute("class", "All-inline");

        let div1 = document.createElement("div");
        let p1 = document.createElement("p");
        let h_6 = document.createElement("h5");
        p1.innerText = product.product_name;
        p1.style.marginBottom = "0px";
        h_6.innerHTML =
          product.risk +
          "&nbsp&nbsp;&#8226;&nbsp;&nbsp" +
          product.category +
          "&nbsp;&nbsp;&#8226;&nbsp;&nbsp;" +
          product.rating +
          "&nbsp;&#9733;";
        h_6.style.marginBottom = "0px";
        div1.append(p1, h_6);

        let div2_A = document.createElement("div");

        let div2 = document.createElement("div");
        div2.setAttribute("class", "Yrs_cols");
        div2.style.marginBottom = "0px";
        let p2 = document.createElement("p");
        let p3 = document.createElement("p");
        let p4 = document.createElement("p");

        let div2_2 = document.createElement("div");
        div2_2.setAttribute("class", "Yrs_cols");
        div2.style.marginTop = "0px";

        let in_p1 = document.createElement("p");
        let in_p2 = document.createElement("p");
        let in_p3 = document.createElement("p");

        p2.innerText = product.percentage_interval[0];
        p2.style.marginBottom = "0px";
        p2.style.marginRight = "20px";

        p3.innerText = product.percentage_interval[1];
        p3.style.marginBottom = "0px";
        p3.style.marginRight = "20px";

        p4.innerText = product.percentage_interval[2];
        p4.style.marginBottom = "0px";
        p4.style.marginRight = "20px";

        in_p1.innerText = "1D";
        in_p1.style.marginTop = "5px";
        in_p1.style.marginRight = "55px";
        in_p1.style.marginLeft = "8px";
        in_p1.style.fontSize = "12px";

        in_p2.innerText = "1Y";
        in_p2.style.marginTop = "5px";
        in_p2.style.marginRight = "55px";
        in_p2.style.fontSize = "12px";

        in_p3.innerText = "3Y";
        in_p3.style.marginTop = "5px";
        in_p3.style.fontSize = "12px";
        // in_p3.style.marginRight = "35px";

        div2.append(p2, p3, p4);
        div2_2.append(in_p1, in_p2, in_p3);

        div2_A.append(div2, div2_2);

        div_main.append(div1, div2_A);

        let end = document.createElement("hr");
        // end.style.backgroundColor = "red";
        end.style.border = "1px solid #DCDCDC";

        div.append(img, div_main);
        box.append(div, end);
      });
    }

    document.getElementById("item_select").onchange = () => {
      // console.log("work")
      let val = document.getElementById("item_select").value;
      if (val == "rates") {
        // console.log('val:', val)
        array.sort(function (a, b) {
          return b.rating - a.rating;
        });
        let element = document.querySelector(".All-funds");
        element.innerHTML = " ";
        showdata();
      }

      if (val == "returns") {
        array.sort(function (a, b) {
          return b.return_percentage - a.return_percentage;
        });

        let element = document.querySelector(".All-funds");
        element.innerHTML = " ";
        showdata();
      }
    };
  }
  getData();
</script>
