<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Groww</title>
    <link rel="stylesheet" href="/style/footer.css">
</head>

<body>
    <div class="footerDiv">
        <div class="footer">
            <div id="footer1">
                <div id="footer11">
                    <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/logo-light-groww.1815ad63.svg"
                        alt="">
                </div>
                <div id="footer12">No.11, 2nd floor, 80 FT Road 4th Block, S.T Bed,
                    Koramangala
                    Bengaluru - 560034</div>
                <div id="footer13"><a href="#">Contact Us</a></div>
                <div id="footer14icons">
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/fb_icon_groww.1c94e937.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/twitter_icon_groww.4cb988f6.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/yt_icon_groww.ec96b677.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/instagram_icon_groww.0454c1a2.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/linkedin_icon_groww.b15f8240.svg"
                                alt=""></a>
                    </div>
                    <div>
                        <a href="#"><img
                                src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/telegram_icon_groww.f6524497.svg"
                                alt=""></a>
                    </div>

                </div>
            </div>
            <div id="footer2">
                <div id="footer21">PRODUCTS</div>
                <div id="footer22">
                    <a href="#">Stocks</a>
                    <a href="#">Futures & Options</a>
                    <a href="#">Mutual Funds</a>
                    <a href="#">Fixed Deposit</a>
                    <a href="#">Gold</a>
                    <a href="#">US Stocks</a>
                </div>
            </div>
            <div id="footer3">
                <div id="footer31">GROWW</div>
                <div id="footer32">
                    <a href="#">About Us</a>
                    <a href="#">Pricing</a>
                    <a href="#">Blog</a>
                    <a href="#">Media & Press</a>
                    <a href="#">Help and Support</a>
                </div>
            </div>
            <div id="footer4">
                <div id="footer41">QUICK LINKS</div>
                <div id="footer42">
                    <a href="#">AMC Mutual Funds</a>
                    <a href="#">Calculators</a>
                    <a href="#">Glossary</a>
                    <a href="#">Open Demat Account</a>
                    <a href="#">Groww Digest</a>
                </div>
            </div>

        </div>

        <div id="footer5">
            <hr>
        </div>

        <div id="footer6">
            <div id="footer61">ⓒ&nbsp;2016-2021 Groww, All rights reserved, Build with Love
                in India
            </div>
            <div id="footer62">
                <div id="footer62img">
                    <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/google-play-badge.0547a72f.svg"
                        alt="">

                </div>
                <div id="footer63img">
                    <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/app-store-logo.060773ea.svg"
                        alt="">
                </div>
            </div>
        </div>

    </div>

    </div>
</body>

</html>
<script>
    let imgdiv = document.getElementById("footer62img").addEventListener("click", Appstore)
    function Appstore() {
        window.location.href = "https://play.google.com/store/apps/details?id=com.nextbillion.groww"
    }
    let imgdiv1 = document.getElementById("footer63img").addEventListener("click", googleplay)
    function googleplay() {

        window.location.href = "https://apps.apple.com/us/app/groww-mutual-funds-app/id1404871703?ls=1"
    }
  // let key = `28995e3ae4b1dd917c0dc2fce2aed00a`;
  // async function submit() {
  //   let response = await fetch(`http://api.marketstack.com/v1/intraday
  //   ?access_key=${key}&symbols=AAPL&interval=1min`);
  //   console.log(response);
  // }
</script>