/* body {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Roboto, system-ui;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
} */
.footerDiv {
  width: 100%;
  /* height: auto; */
  /* position: relative; */
  right: 22rem;
  top: 25rem;
  /* border: 1px solid #1e2232; */
  background-color: #1e2232;
  margin-top: 140px;
  border: 1px solid #191c27;
  /* margin-right: 35; */
  
}
.footer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
  display: flex;
}
.footer > div {
  width: 22%;
  margin: 1%;
  /* border: 1px solid yellow; */
}
#footer11 img {
  width: 120px;
}
#footer12 {
  color: white;
  margin-top: 18px;
  font-size: 16px;
  line-height: 25px;
}
#footer13 a {
  color: white;
  margin-top: 3px;
  font-size: 16px;
  line-height: 25px;
}
#footer14icons {
  display: flex;
  margin-top: 15px;
}
#footer14icons > div {
  width: 20px;
  height: 25px;
  /* border: 1px solid red; */
  margin: 19px;
  margin-left: 1px;
}
#footer14icons > div a img {
  width: 23px;
  align-items: center;
}
#footer2 {
  margin-left: 50px;
}
#footer21 {
  color: white;
  font-size: 18px;
}
#footer22 > a {
  margin-top: 11px;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 100;
}
#footer31 {
  color: white;
  font-size: 18px;
}
#footer32 > a {
  margin-top: 11px;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 100;
}
#footer41 {
  color: white;
  font-size: 18px;
}
#footer42 > a {
  margin-top: 11px;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 100;
}
#footer5 {
  width: 80%;
  margin: auto;
}
#footer6 {
  width: 80%;
  display: flex;
  margin: auto;

  height: 25px;
  margin-bottom: 80px;
}
#footer6 > div {
  width: 45%;
  margin: 2%;
  /* border:1px solid red;  */
  /* height: 50px; */
}
#footer61 {
  color: white;
  font-size: 16px;
}
#footer62 {
  display: flex;
  flex-direction: row-reverse;
}
#footer62 > div {
  /* border: 1px solid white; */
  margin: 5px 8px;
  width: 200px;
  border-radius: 8px;
  margin-left: 5px;
}
#footer62 > div > img {
  width: 200px;
  height: 60px;
}
#header {
  width: 100%;
  /* height: auto; */
  /* position: relative; */
  right: 22rem;
  top: 25rem;
  /* border: 1px solid #1e2232; */
  background-color: #191c27;
  /* margin-top: -140px; */
  border: 1px solid #191c27;
  /* margin-right: 35; */
}
a {
  color: #00d09c;
  font-weight: 400;
  text-transform: UPPERCASE;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
.or {
  color: white;
}
.textheader {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
#version {
  text-align: left;
  margin-left: 70%;
}
#first {
  margin-top: 20px;
  padding-top: 20px;
  /* border: 1px solid red; */
  margin-left: 30px;
  padding-left: 20px;
}
#second {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 30px;
  padding-left: 20px;
}
#third {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 30px;
  padding-left: 20px;
}
#fourth {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 30px;
  padding-left: 20px;
}
#fifth {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 30px;
  padding-left: 20px;
}
#sixth {
  color: #726a6c;
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 30px;
  padding-left: 20px;
}
.hoverEffect:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#seventh {
  margin-left: 30px;
  padding-left: 20px;
}
#seventh > span {
  color: white;
  margin-top: 40px;
  padding-top: 20px;
}
