@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primaryClr: #00d09c;
  --primaryClr60: #66e3c4;
  --primaryClr10: #e5faf5;
  --secondaryClr: #5367ff;
  --growwYellow: #ffb61b;
  --growwYellow10: #fff5e0;
  --growwYellow05: rgba(255, 182, 27, 0.05);
  --growwRed: #eb5b3c;
  --hoverGreen: #00dfa7;
}
.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-20 {
  font-size: 20px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

body {
  margin: 0;
  padding: 0;
  max-width: 99.7%;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.navDiv {
  border-bottom: 1px solid rgb(209, 196, 196);
  width: 100%;
  height: 80px;
  display: flex;
}

#nav-bar {
  /* border: 1px solid black; */
  width: 1100px;
  display: flex;
  /* justify-content: space-between; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  margin: auto;
}
#groww-logo {
  margin-top: 5px;
  margin-right: 25px;
}
#groww-logo > img {
  width: 150px;
  height: 40px;
}

#after_logo {
  display: flex;
}

#after_logo > p {
  margin-right: 30px;
}

#search > img {
  width: 20px;
  height: 20px;
  /* padding: 5px 0; */
  margin-right: 10px;
}

#search > input {
  width: 350px;
  border: none;
  height: 20px;
  outline: none;
}

#search {
  width: 400px;
  /* border: 1px solid red; */
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.09), 0 0 5px 0px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}
#three-div {
  margin-left: 30px;
}
#three-div > img {
  width: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

#three-div > img:nth-child(3) {
  width: 27px;
  /* margin-top: 20px; */
}

.cont {
  width: 100%;
  /* display: flex;
    gap: 10px;
    justify-content: center; */
}
.leftCont {
  width: 50%;
  height: 100vh;
  margin-left: 10%;
  /* border: 1px solid black; */
  display: inline-block;
}
.rightCont {
  display: inline-block;
  width: 25%;
  position: sticky;
  left: 62%;
  height: 450px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* margin-top: 300px; */
  bottom: 20%;
}

.logoDiv {
  width: 8%;
  height: 50px;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.titleDiv {
  width: 100%;
  height: 60px;
  /* border: 1px solid black; */
}
.chartDiv {
  position: relative;
  width: 100%;
  height: 60%;
  /* border: 1px solid red; */
}

.headBox {
  width: 96.5%;
  height: 50px;
  display: flex;
  gap: 5px;
  padding-left: 10px;
  border-bottom: 1px solid grey;
}
.headBox > div {
  width: 40%;
  padding: 0;
  height: 95%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #44475b;
  cursor: pointer;
}
.month-btn {
  color: var(--primaryClr);
  border-bottom: 3px solid var(--primaryClr);
}
.inputDiv {
  width: 90%;
  height: 30%;
  margin: auto;
  border-bottom: 1px solid rgb(202, 194, 194);
  display: flex;
  flex-direction: column;
}
.inputDiv > div {
  width: 99.5%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-one > div,
.input-two > div {
  width: 40%;
  height: 80%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--primaryClr);
  /* justify-content:center; */
}
.input-one > .amt-title,
.input-two > .amt-title {
  color: #44475b;
}

.divvi {
  width: 70%;
  /* border: 1px solid red; */
  height: 35%;
  display: flex;
  align-items: center;
  background-color: #bbfaeb;
  color: var(--primaryClr);
  padding: 5px;
}
.divvi > input {
  width: 80%;
  height: 90%;
  border: 0;
  outline: 0;
  background-color: #bbfaeb;
  color: #00d09c;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}
.amt-input::placeholder {
  color: var(--primaryClr);
}

.walletDiv {
  width: 95%;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.walletDiv > h4 {
  margin: 0;
  font-weight: lighter;
  font-size: 13px;
  color: #44475b;
}

.btnDiv1 {
  width: 99.5%;
  height: 70px;
  position: relative;
  top: 26%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.btnDiv1 > button {
  height: 60%;
  width: 45%;
  cursor: pointer;
}

#ac-btn {
  border: 0;
  color: var(--primaryClr);
  font-weight: bolder;
  background-color: white;
}
#sip-btn {
  border: 0;
  background-color: var(--primaryClr);
  color: white;
  font-weight: bolder;
  border-radius: 3px;
}

.stk-btnDiv {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stk-btnDiv > button {
  height: 50%;
  width: 10%;
  border: 0;
  color: grey;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}
.stk-btnDiv > button:last-child {
  color: #00d09c;
}
.stk-info {
  width: 100%;
  /* border: 1px solid red; */
  height: 22%;
  display: grid;
  grid-template-rows: repeat(2, 49%);
  grid-template-columns: repeat(2, 49%);
  justify-content: center;
  gap: 5px;
}
.stk-info > div {
  /* border: 1px solid teal; */
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  padding-top: 10px;
}
.stk-title {
  color: grey;
}
.st-amt {
  font-weight: bolder;
}
.logoDiv > img {
  width: 95%;
  height: 95%;
  margin-top: 3px;
}
.titleDiv {
  color: #44475b;
}
